jobs:
  - deployment: DeployWeb
    displayName: 'dotnet dll'
    pool:
      vmImage: 'windows-2019'
    environment: 'test'
    strategy:
      runOnce:
        deploy:
          steps:
          - powershell: ./scripts/aelf-node/deploy-node.ps1
          - script: |
              cp scripts/aelf-node/php.ini /c/tools/php/php.ini
              php -c /c/tools/php/php.ini
          - script: |
              php -r "copy('https://install.phpcomposer.com/installer', 'composer-setup.php');"
              php composer-setup.php
              php composer.phar config -g repo.packagist composer https://packagist.phpcomposer.com
              php composer.phar install --no-interaction --prefer-dist
            displayName: 'composer install'
          - powershell: php phpunit.phar --bootstrap bootstrap.php tests/AElfTest.php 
            displayName: 'test'
